<div class="header">
    <h1 class="headerTittle">Website Hỗ Trợ Các Câu hỏi về Mạng Máy Tính</h1>
    <h2 class="webName">NetLearn UET</h2>

</div>

<style>
    .header {
        background-color: #7cfc00;
        color: #000;
        padding: 20px;
        text-align: center;
    }

    .headerTittle {
        margin: 0;
    }
</style>