<div class="contentIntro" id="about">
    <div class="greeting">
        <h2>Chào Mừng Bạn Đến Với Website</h2>
        <p>Đây là nơi bạn có thể tìm kiếm và đặt câu hỏi về các vấn đề liên quan đến mạng máy tính.</p>
    </div>
    <div class="intro">
        <h3 class=""> Giới Thiệu Về Website Hỗ Trợ Mạng Máy Tính</h3>
        <div class="containerTarget">
            <div class="itemTarget introTarget">
                <h1 class="titleTarget">Mục Tiêu Hướng đến</h1>
                <p class="textTarget">Website Hỗ Trợ Mạng Máy Tính được tạo ra với mục tiêu cung cấp một nền
                    tảng
                    đáng
                    tin cậy những ai quan tâm đến các vấn đề liên quan đến mạng máy tính. Chúng tôi cam kết giúp
                    đỡ
                    người dùng giải quyết các vấn đề kỹ thuật, nâng cao kiến thức và kỹ năng thông qua các tài
                    liệu
                    hướng dẫn chi tiết và các cuộc thảo luận sôi nổi.</p>
            </div>
            <div class=" itemTarget introUserTarget">
                <h1 class="titleTarget">Đối Tượng Người Dùng </h1>
                <p class="texttarget">Website của chúng tôi hướng tới mọi đối tượng, từ những người mới bắt đầu
                    tìm
                    hiểu về mạng máy tính
                    cho đến các chuyên gia kỹ thuật. Bất kể bạn là sinh viên, nhân viên IT, hay người dùng thông
                    thường,
                    bạn đều có thể tìm thấy thông tin hữu ích và nhận được sự hỗ trợ cần thiết từ cộng đồng</p>
            </div>
        </div>

        <div class="introFunction">
            <h1 class="titleFunction">Chức Năng Chính</h1>
            <div class="containerFunction">
                <div class="itemFunction">
                    <h1 class="itemText">
                        Tài Liệu Hướng Dẫn:
                    </h1>
                    <p>Cung cấp các bài viết, tài liệu học tập và hướng dẫn chi tiết về các
                        khía cạnh khác nhau của mạng máy tính, từ cơ bản đến nâng cao.</p>
                </div>
                <div class="itemFunction">
                    <h1 class="itemText">
                        Câu Hỏi Thường Gặp :
                    </h1>
                    <p> Một bộ sưu tập các câu hỏi thường gặp và câu trả lời chi tiết,
                        giúp người dùng nhanh chóng tìm ra giải pháp cho các vấn đề phổ biến.</p>
                </div>
                <div class="itemFunction">
                    <h1 class="itemText">
                        Diễn Đàn Thảo Luận:
                    </h1>
                    <p>Người dùng có thể đăng câu hỏi, trả lời và thảo luận về các chủ đề liên
                        quan đến mạng máy tính. Đây là nơi giao lưu và chia sẻ kinh nghiệm giữa các thành viên.
                    </p>
                </div>
                <div class="itemFunction">
                    <h1 class="itemText">
                        Hỗ Trợ Trực Tuyến:
                    </h1>
                    <p>Đội ngũ hỗ trợ chuyên nghiệp sẵn sàng giải đáp các thắc mắc và cung cấp
                        tư vấn kỹ thuật cho người dùng.</p>
                </div>
            </div>
        </div>

        <div class="introAdvantage">
            <h1 class="titleAdvantage">Lợi ích khi tham gia</h1>
            <div class="containerAdvantage">
                <div class="itemAdvantage">
                    <h1>Cộng Đồng Năng Động:
                    </h1>
                    <p>Tham gia vào một cộng đồng lớn với nhiều thành viên năng động và giàu
                        kinh nghiệm.</p>
                </div>
                <div class="itemAdvantage">
                    <h1>Kiến Thức Chuyên Sâu:
                    </h1>
                    <p>Tiếp cận với các tài liệu học tập và hướng dẫn chi tiết, giúp bạn nâng
                        cao kiến thức và kỹ năng.</p>
                </div>
                <div class="itemAdvantage">
                    <h1>Giải Quyết Vấn Đề:
                    </h1>
                    Nhận được sự hỗ trợ nhanh chóng và hiệu quả từ cộng đồng và đội ngũ hỗ
                    trợ của chúng tôi.
                </div>
                <div class="itemAdvantage">
                    <h1>Cập Nhật Thông Tin:
                    </h1>
                    <p>Luôn cập nhật những xu hướng và công nghệ mới nhất trong lĩnh vực mạng
                        máy tính.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    /* Code Gioi thieu ve website */

    .contentIntro {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .greeting {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border: #ffdab9;
        /* peach buff */
        border-style: solid;
        border-width: 10px;
        border-radius: 30px;
        background-color: #ffe4e1;
        /* misty rose */
        margin: 100px 100px 60px 100px;
    }

    .greeting h2 {
        color: #adff2f;
        /* green yellow*/
        font-size: 80px;
        text-shadow:
            2px 2px 0 #006400,
            -2px 2px 0 #006400,
            2px -2px 0 #006400,
            -2px -2px 0 #006400;
    }

    .greeting p {
        color: #006400;
        font-weight: bold;
        font-size: 20px;
    }


    .intro {

        text-align: center;

    }

    .intro h3 {
        font-size: 20px;
        margin-top: 30px;
    }

    /* Gioi thieu ve muc tieu va doi tuong huong toi */
    .containerTarget {
        display: flex;
        padding-top: 20px;
    }

    .itemTarget {
        background-color: #7cfc00;
        color: #006400;
        margin: 0 100px 100px 100px;
        padding: 40px;
        border: 5px solid #000;
        border-radius: 30px;
    }

    .itemTarget h1 {
        color: #006400;
        font-size: 32px;
    }

    .itemTarget p {
        font-size: 20px;
        line-height: 24px;
    }

    /* Gioi thieu chuc nang trang web */
    .introFunction {
        background-color: #ffc0cb;
        /* pink */
        color: #006400;
        margin: 40px 50px 40px 50px;
        padding: 40px;
        border: 5px solid #ee82ee;
        /* violet */
        border-radius: 10px;

    }

    .titleFunction {
        font-size: 30px;
    }

    .containerFunction {
        display: flex
    }

    .itemFunction {
        background-color: #ffe4e1;
        margin: 0px 10px;
        border-radius: 10px;
        padding: 10px 10px 10px 10px;
    }

    .itemText {
        font-size: 20px;
    }

    .itemFunction p {
        font-size: 16px;
    }

    /* Code Gioi thieu loi ich trang web */
    .introAdvantage {
        background-color: #ffc0cb;
        color: #006400;
        margin: 40px 50px;
        padding: 40px;
        border: 5px solid #ee82ee;
        border-radius: 10px;
    }

    .titleAdvantage {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .containerAdvantage {
        display: flex;
        justify-content: space-between;
    }

    .itemAdvantage {
        background-color: #ffe4e1;
        border-radius: 10px;
        margin: 0px 10px;
        padding: 10px 10px 0px 10px;
    }

    .itemAdvantage h1 {
        font-size: 18px;
    }

    .itemAdvantage p {
        font-size: 16px;
    }
</style>