<div class="homeConntent" id="home">

    <div class="searchBlock__searchBar__inputText">
        <label for="query" class="inputText__label">Nhập câu hỏi cần tìm:</label>
        <input type="text" class="inputText__input" placeholder="VD: TCP/IP là gì" name="query" id="query">
        <a class="inputText__button" href="/search">
            <button class="search-button">
                Tìm kiếm
            </button>
        </a>
    </div>


    <div class="forum">
        <div class="forum__announcement">
            <div class="forum__announcement__title">
                <h1>THÔNG BÁO CỦA WEBSITE</h1>
            </div>
            <div class="forum__announcement__poster">

                <div class="poster__item">
                    <h1 class="poster__item__heading">Cảnh báo! </h1>
                    <div class="poster__item__content">
                        <p class="poster__item__text">Hệ thống sẽ bảo trì vào lúc 2 giờ sáng ngày mai. Trong thời
                            gian này, bạn sẽ không thể truy cập vào một số chức năng của trang web.</p>
                    </div>
                </div>

                <div class="poster__item">
                    <h1 class="poster__item__heading">Thông báo!</h1>
                    <div class="poster__item__content">
                        <p class="poster__item__text"> Website của chúng tôi đã được cập nhật với các tính năng mới
                            để hỗ trợ bạn tốt hơn. Hãy khám phá ngay!</p>
                    </div>
                </div>

                <div class="poster__item">
                    <h1 class="poster__item__heading">Hỗ trợ! </h1>
                    <div class="poster__item__content">
                        <p class="poster__item__text">Nếu bạn cần trợ giúp, vui lòng liên hệ với chúng tôi qua <a
                                href="#">trang liên hệ</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="forum__content">
            <div class="forum__content__item">
                <div class="forum__content__item--avatar">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="forum__content__item--tag">
                    <a href="#" class="tag__link">
                        <h1 class="tag__link__heading">Câu hỏi: Làm thế nào để cấu hình địa chỉ IP tĩnh cho một
                            thiết bị trong mạng LAN?</h1>
                    </a>
                    <div class="tag__desc">
                        <p class="tag__desc--text">Mô tả: Tôi muốn cấp một địa chỉ IP tĩnh cho một máy tính trong
                            mạng nội bộ để dễ dàng quản lý. Các bước thực hiện như thế nào?</p>
                    </div>
                    <div class="tag__detail">
                        <div class="tag__user">
                            <p class="tag__link__by">bởi</p>
                            <p class="tag__link__username">Nguyễn Văn Quyền</p>
                        </div>
                        <div class="tag__time">
                            <p>2 giờ trước</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="forum__content__item">
                <div class="forum__content__item--avatar">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="forum__content__item--tag">
                    <a href="#" class="tag__link">
                        <h1 class="tag__link__heading">Câu hỏi: Làm thế nào để thiết lập VLAN trên switch Cisco?
                        </h1>
                    </a>
                    <div class="tag__desc">
                        <p class="tag__desc--text">Mô tả: Tôi cần tạo VLAN để phân chia mạng nội bộ của mình trên
                            một switch Cisco. Có ai có thể hướng dẫn chi tiết về các lệnh cần sử dụng không?</p>
                    </div>
                    <div class="tag__detail">
                        <div class="tag__user">
                            <p class="tag__link__by">bởi</p>
                            <p class="tag__link__username">Hoàng Đức Tâm</p>
                        </div>
                        <div class="tag__time">
                            <p>2 giờ trước</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="forum__content__item">
                <div class="forum__content__item--avatar">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="forum__content__item--tag">
                    <a href="#" class="tag__link">
                        <h1 class="tag__link__heading">Câu hỏi: Cách thiết lập một mạng Wi-Fi khách biệt lập với
                            mạng chính?</h1>
                    </a>
                    <div class="tag__desc">
                        <p class="tag__desc--text">Mô tả: Tôi muốn tạo một mạng Wi-Fi riêng cho khách đến văn phòng
                            mà không cho họ truy cập vào mạng chính. Làm thế nào để cấu hình router để thực hiện
                            điều này?</p>
                    </div>
                    <div class="tag__detail">
                        <div class="tag__user">
                            <p class="tag__link__by">bởi</p>
                            <p class="tag__link__username">Đào Cẩm Ly</p>
                        </div>
                        <div class="tag__time">
                            <p>2 giờ trước</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="forum__content__item">
                <div class="forum__content__item--avatar">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="forum__content__item--tag">
                    <a href="#" class="tag__link">
                        <h1 class="tag__link__heading">Câu hỏi: Làm thế nào để bảo vệ mạng Wi-Fi khỏi các cuộc tấn
                            công Brute Force?</h1>
                    </a>
                    <div class="tag__desc">
                        <p class="tag__desc--text">Mô tả: Tôi lo ngại về việc mạng Wi-Fi của mình bị tấn công bởi
                            các cuộc tấn công Brute Force. Có biện pháp nào để tăng cường bảo mật không?</p>
                    </div>
                    <div class="tag__detail">
                        <div class="tag__user">
                            <p class="tag__link__by">bởi</p>
                            <p class="tag__link__username">Nguyễn Minh Ninh</p>
                        </div>
                        <div class="tag__time">
                            <p>3 giờ trước</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="forum__content__item">
                <div class="forum__content__item--avatar">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="forum__content__item--tag">
                    <a href="#" class="tag__link">
                        <h1 class="tag__link__heading">Câu hỏi: Làm thế nào để cấu hình tường lửa để chặn các kết
                            nối không mong muốn?</h1>
                    </a>
                    <div class="tag__desc">
                        <p class="tag__desc--text">Mô tả: Tôi muốn sử dụng tường lửa để chặn các kết nối không được
                            phép vào mạng nội bộ của mình. Các quy tắc cơ bản để cấu hình là gì??</p>
                    </div>
                    <div class="tag__detail">
                        <div class="tag__user">
                            <p class="tag__link__by">bởi</p>
                            <p class="tag__link__username">Nguyễn Văn Quyền</p>
                        </div>
                        <div class="tag__time">
                            <p>6 giờ trước</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="forum__navigation">
            <div class="forum__navigation__box"><a href=""><i class="fa-solid fa-chevron-left"></i></a></div>
            <div class="forum__navigation__box">
                <a href="">
                    <p>1</p>
                </a>
            </div>
            <div class="forum__navigation__box">
                <a href="">
                    <p>2</p>
                </a>
            </div>
            <div class="forum__navigation__box">
                <a href="">
                    <p>3</p>
                </a>
            </div>
            <div class="forum__navigation__box">
                <a href="">
                    <p>4</p>
                </a>
            </div>

            <div class="forum__navigation__box">
                <a href="">
                    <p>5</p>
                </a>
            </div>
            <div class="forum__navigation__box">
                <a href="">
                    <p>6</p>
                </a>
            </div>
            <div class="forum__navigation__box">
                <a href="">
                    <p>7</p>
                </a>
            </div>
            <div class="forum__navigation__box">
                <a href="">
                    <p>8</p>
                </a>
            </div>
            <div class="forum__navigation__box">
                <a href="">
                    <p>9</p>
                </a>
            </div>
            <div class="forum__navigation__box">
                <a href="">
                    <p>10</p>
                </a>
            </div>
            <div class="forum__navigation__box">
                <a href=""><i class="fa-solid fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
<style>
    /* Code container */
    .homeConntent {
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
    }

    //Code search
    .searchBlock {
        flex: 3.5;
        display: flex;
        flex-direction: column;
    }

    .searchBlock__searchBar {
        display: flex;
        margin: 30px;
        padding: 10px;
        border: 2px solid #000;
        border-radius: 10px;
        background-color: #808080;
    }

    .searchBlock__searchBar__inputText {
        flex: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 20px;
        border-radius: 10px;

    }

    .inputText__label {
        flex: 1;
        font-size: 1rem;
        font-weight: bold;
    }

    .inputText__input {
        flex: 6;
        padding: 15px;
        border-radius: 5px;
    }

    .inputText__button {
        flex: 1;
        margin-left: 5px;
    }

    .search-button {
        padding: 10px;
        background-color: #7cfc00;
        border-radius: 3px;
    }


    //forum
    .forum {
        width: 100%;
    }

    /* code thông báo của website */
    .forum__announcement {
        background-color: #ffc0cb;
        padding: 20px;
        margin: 20px 0;
    }

    .forum__announcement__title h1 {
        font-size: 3rem;
        color: rgba(0, 0, 0, 0.8);
        font-weight: bolder;
    }

    .forum__announcement__poster {
        width: 100%;
    }

    .poster__item {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        margin: 15px;
        border: 3px solid #006400;
        border-radius: 5px;
        width: 100%;
    }

    .poster__item__heading {
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0px;
        flex: 1;
    }

    .poster__item__content {
        flex: 5;
    }

    .poster__item__text {
        font-size: 1.6rem;
        margin: 0px;
    }

    .poster__item__text a {
        color: #000;
    }

    /* Code nội dung diễn đàn */
    .forum__content {
        width: 100%;
        margin-bottom: 20px;
    }

    .forum__content__item {
        padding: 10px;
        border-bottom: 1px solid #000;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .forum__content__item--avatar {
        margin-right: 10px;
    }

    .forum__content__item--avatar i {
        font-size: 1.6rem;
        font-weight: bold;
        display: block;
        padding: 10px;
        border: 2px solid #000;
        border-radius: 10px;
        background-color: #fff;
    }

    .forum__content__item--tag {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .tag__link {
        text-decoration: none;
    }

    .tag__link__heading {
        font-size: 2rem;
        font-weight: bold;
        color: #006400;
        margin: 0px;
    }

    .tag__desc {
        width: 100%;
    }

    .tag__desc--text {
        margin: 0px;
        font-size: 1.6rem;
        font-weight: 300;
        color: #006400;
    }

    .tag__detail {
        display: flex;
        flex-direction: row;
        width: 30%;
    }

    .tag__detail p {
        margin: 0px;
    }

    .tag__user {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 2;
    }

    .tag__link__by {
        flex: 1;
    }

    .tag__link__username {
        font-size: 1.2rem;
        font-weight: 400;
        flex: 8;
    }

    .tag__time {
        flex: 1;
    }

    /* Code thanh điều hướng */

    .forum__navigation {
        display: flex;
        align-items: center;
        margin: auto 100px;
        justify-content: space-around;
    }

    .forum__navigation__box {
        align-self: center;
    }

    .forum__navigation__box a {
        display: block;
        padding: 10px;
        border: 3px solid #7cfc00;
        border-radius: 3px;
        background-color: #fff;
        text-decoration: none;
        color: #006400;
    }

    .forum__navigation__box a p {
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0px;
    }

    .forum__navigation__box a i {
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0px;
    }
</style>