<div class="main">
    <form action="" method="POST" class="form" id="form-2">
        <div class="form__heading">
            <div class="form__heading__buttonMain"><a href="/logins" class="">Đăng nhập</a></div>
            <div class="form__heading__tab"></div>
            <div class="form__heading__buttonSecond"><a href="/registers">Đăng ký</a></div>
        </div>

        <div class="spacer"></div>

        <div class="form-group">
            <label for="email" class="form-label">Email đăng nhập</label>
            <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control">
            <span class="form-message"></span>
        </div>

        <div class="form-group">
            <label for="password" class="form-label">Mật khẩu</label>
            <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
            <span class="form-message"></span>
        </div>

        <button class="form-submit">Đăng nhập</button>
    </form>

</div>