<div class="listquestionContent">

    <div class="searchBlock__searchBar__inputText">
        <label for="query" class="inputText__label">Nhập câu hỏi cần tìm:</label>
        <input type="text" class="inputText__input" placeholder="VD: TCP/IP là gì" name="query" id="query">
        <a class="inputText__button" href="/search">
            <button class="search-button">
                Tìm kiếm
            </button>
        </a>
    </div>

    <div class="listQuestion-return">
        <h1 class="returnHeader">Đây là danh sách các câu hỏi liên quan</h1>
        <div class="return__content">
            <div class="return__content__item">
                <div class="return__content__item--avatar">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="return__content__item--tag">
                    <a href="/question" class="tag__link">
                        <h1 class="tag__link__heading">TCP/IP là gì và vai trò của nó trong mạng máy tính?</h1>
                    </a>
                    <div class="tag__desc">
                        <p class="tag__desc--text">Mô tả: Giao thức TCP/IP là nền tảng của Internet, cho phép các thiết
                            bị kết nối và trao đổi dữ liệu với nhau. Câu hỏi này nhằm làm rõ khái niệm TCP/IP và lý do
                            tại sao nó lại quan trọng trong việc kết nối mạng.</p>
                    </div>
                    <div class="tag__detail">
                        <div class="tag__user">
                            <p class="tag__link__by">bởi</p>
                            <p class="tag__link__username">Admin</p>
                        </div>
                        <div class="tag__time">
                            <p>2 giờ trước</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="return__content__item">
                <div class="return__content__item--avatar">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="return__content__item--tag">
                    <a href="/question" class="tag__link">
                        <h1 class="tag__link__heading">Sự khác biệt giữa TCP và IP trong giao thức TCP/IP là gì?
                        </h1>
                    </a>
                    <div class="tag__desc">
                        <p class="tag__desc--text">Mô tả: TCP và IP là hai phần chính của giao thức TCP/IP nhưng có vai
                            trò khác nhau. Câu hỏi này giúp người dùng hiểu rõ từng chức năng cụ thể của TCP và IP, như
                            quản lý phiên giao tiếp (TCP) và định tuyến dữ liệu (IP).

                        </p>
                    </div>
                    <div class="tag__detail">
                        <div class="tag__user">
                            <p class="tag__link__by">bởi</p>
                            <p class="tag__link__username">Admin</p>
                        </div>
                        <div class="tag__time">
                            <p>2 giờ trước</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="return__content__item">
                <div class="return__content__item--avatar">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="return__content__item--tag">
                    <a href="/question" class="tag__link">
                        <h1 class="tag__link__heading">Làm thế nào để TCP/IP hoạt động trong việc truyền dữ liệu qua
                            mạng?</h1>
                    </a>
                    <div class="tag__desc">
                        <p class="tag__desc--text">Mô tả: Để dữ liệu truyền qua mạng một cách an toàn và chính xác,
                            TCP/IP sử dụng các quy tắc và quy trình đặc biệt. Câu hỏi này giải thích cách TCP/IP điều
                            khiển việc chia nhỏ dữ liệu, kiểm soát lỗi và xác nhận dữ liệu được truyền tải thành công.
                        </p>
                    </div>
                    <div class="tag__detail">
                        <div class="tag__user">
                            <p class="tag__link__by">bởi</p>
                            <p class="tag__link__username">Nguyễn Văn Quyền</p>
                        </div>
                        <div class="tag__time">
                            <p>2 giờ trước</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="return__content__item">
                <div class="return__content__item--avatar">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="return__content__item--tag">
                    <a href="/question" class="tag__link">
                        <h1 class="tag__link__heading">TCP/IP có những ưu điểm và hạn chế nào trong việc truyền tải dữ
                            liệu?</h1>
                    </a>
                    <div class="tag__desc">
                        <p class="tag__desc--text">Mô tả: Giao thức TCP/IP tuy phổ biến nhưng cũng có nhược điểm nhất
                            định. Câu hỏi này giúp người dùng hiểu rõ về lợi ích của TCP/IP (như tính tương thích cao và
                            khả năng mở rộng) và các hạn chế của nó (như độ trễ và bảo mật).</p>
                    </div>
                    <div class="tag__detail">
                        <div class="tag__user">
                            <p class="tag__link__by">bởi</p>
                            <p class="tag__link__username">Nguyễn Văn Quyền</p>
                        </div>
                        <div class="tag__time">
                            <p>3 giờ trước</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="return__content__item">
                <div class="return__content__item--avatar">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="return__content__item--tag">
                    <a href="/question" class="tag__link">
                        <h1 class="tag__link__heading">Các thành phần chính của giao thức TCP/IP là gì?</h1>
                    </a>
                    <div class="tag__desc">
                        <p class="tag__desc--text">Mô tả: Giao thức TCP/IP bao gồm nhiều lớp (layers), mỗi lớp có chức
                            năng riêng trong việc truyền và nhận dữ liệu. Câu hỏi này giúp người dùng nắm bắt các thành
                            phần của TCP/IP, chẳng hạn như lớp ứng dụng, lớp giao vận, lớp Internet và lớp liên kết.</p>
                    </div>
                    <div class="tag__detail">
                        <div class="tag__user">
                            <p class="tag__link__by">bởi</p>
                            <p class="tag__link__username">Nguyễn Văn Quyền</p>
                        </div>
                        <div class="tag__time">
                            <p>6 giờ trước</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .searchBlock {
        flex: 3.5;
        display: flex;
        flex-direction: column;
    }

    .searchBlock__searchBar {
        display: flex;
        margin: 30px;
        padding: 10px;
        border: 2px solid #000;
        border-radius: 10px;
        background-color: #808080;
    }

    .searchBlock__searchBar__inputText {
        flex: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 20px;
        border-radius: 10px;

    }

    .inputText__label {
        flex: 1;
        font-size: 1rem;
        font-weight: bold;
    }

    .inputText__input {
        flex: 6;
        padding: 15px;
        border-radius: 5px;
    }

    .inputText__button {
        flex: 1;
        margin-left: 5px;
    }

    .search-button {
        padding: 10px;
        background-color: #7cfc00;
        border-radius: 3px;
    }

    .returnHeader {
        margin-left: 20px;
    }

    //danh sách câu hỏi trả về
    .return__content {
        width: 100%;
        margin-bottom: 20px;
    }

    .return__content__item {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .return__content__item--avatar {
        margin-right: 10px;
    }

    .return__content__item--avatar i {
        font-size: 1.6rem;
        font-weight: bold;
        display: block;
        padding: 10px;
        border: 2px solid #000;
        border-radius: 10px;
        background-color: #fff;
    }

    .return__content__item--tag {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .tag__link {
        text-decoration: none;
    }

    .tag__link__heading {
        font-size: 2rem;
        font-weight: bold;
        margin: 0px;
    }

    .tag__desc {
        width: 100%;
    }

    .tag__desc--text {
        margin: 0px;
        font-size: 1.6rem;
        font-weight: 300;
        color: #006400;
    }

    .tag__detail {
        display: flex;
        flex-direction: row;
        width: 30%;
    }

    .tag__detail p {
        margin: 0px;
    }

    .tag__user {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 2;
    }

    .tag__link__by {
        flex: 1;
    }

    .tag__link__username {
        font-size: 1.2rem;
        font-weight: 400;
        flex: 8;
    }

    .tag__time {
        flex: 1;
    }
</style>